<div class="all">
  <div class="back" >
    <button  (click) = "back()" ><<</button> <div class="tweet">
  </div>
<div class="row">
      <div class="detail-tweet">
          <div class="picture">
              <img class="img-fluid" width="60" height="60" src="{{data.url}}">
                <h3 class="name">{{data.fromUser}}</h3>
          </div>
          <div class="tweet-content"> 
              <h4 class="title">{{data.text}}</h4>
          </div>
          <div class="tweet-date"> 
            <h4 class="createdAt">{{data.createdAt | date }}</h4>
        </div>
       </div>
  </div>
 
</div>